.mcaIconTabBarHead .sapMITBHead {
    margin: 0!important;
}

.mcaPanelHead .sapMPanelWrappingDivTb {
    background-color: rgb(239,244,249)!important;
}

.mcaIconTabBarHead .sapMITBContent {
    border-bottom: 0!important;
}